
<!-- 商品列表 -->

<ul class="row">
  {{#if goods.length}}
    {{#each goods}}
      <li data-id="{{ goods_id }}" class="col col-xs-6 col-sm-4 col-md-3 col-lg-3">
        <div class="innerbox">
          <a href="/goods/detail?id={{goods_id}}">
            <!-- class="img-thumbnail" -->
            <img src="{{ goods_image }}">
          </a>
          <div class="titlediv">
            <span class="title">{{ goods_name }}</span>
            <span class="note">({{ goods_status }})</span>
          </div>
          <div class="subtitle">{{ goods_detail }}</div>
          <div class="subtitle">价格：{{ goods_price }} 元</div>
        </div>
        <div class="form-group">
          <!--<button type="button" class="btn btn-warning btn-xs" id="btn-favor">收藏</button>-->
          <button type="button" data-id="{{ goods_id }}" class="btn btn-primary btn-xs btn-buy">加入购物车</button>
        </div>
      </li>
    {{/each}}
  {{else}}
    <div class="innerbox">没有查到任何商品，请换个查询条件试试</div>
  {{/if}}
</ul>

<script>
  $(function() {

    // 点击加入购物车
    $('.btn-buy').click(function(event) {
      var id = this.getAttribute('data-id')

      ipsAjax('goods', 'addToCart', 'goodsId='+id, function (data) {
        notification.succeed('购买成功！')
      }, function(response) {
        notification.info(response.message)
        setTimeout(function() {
          location.href = '/users/signin'
        }, 1500)
      })
    })

  })
</script>
