
<!-- 我的购物车 -->
<style>
  table img {
    width: 5rem;
    height: 5rem;
  }
</style>

<div class="panel-body m15">
  {{#if mycarts.length}}

    <table class="table table-hover" id="table-cart">
      <tr>
        <th><label><input type="checkbox" class="check-all"> 全选 </label></th>
        <th> 商品 </th>
        <th> 单价 </th>
        <!--<th> 数量 </th>-->
        <!--<th> 小计 </th>-->
        <th> 操作 </th>
      </tr>
      {{#each mycarts}}
        <tr>
          <td>
            <label>
              <input type="checkbox" class="check-one" data-id="{{ goods_id }}"
                     data-price="{{ goods_price }}">
            </label>
          </td>
          <td>
            <a href="/goods/detail?id={{ goods_id }}">
              <!-- class="img-thumbnail" -->
              <img src="{{ goods_image }}">
            </a>
            <span class="title">{{ goods_name }}</span>
          </td>
          <td> {{ goods_price }} </td>
          <!--<td> {{! amount }} </td>-->
          <!--<td> {{! goods_price}} * {{! amount }}  </td>-->
          <td>
            <a data-id="{{ goods_id }}" class="btn btn-default btn-xs btn-delete">删除</a>
          </td>
        </tr>
      {{/each}}

      <tr>
        <!--<th><label><input type="checkbox" class="check-all"> 全选 </label></th>-->
        <!--<td>删除选中商品</td>-->
        <td colspan="2">合计</td>
        <!--<td id="totalCount">已选 </td>-->
        <td id="totalPrice"></td>
        <td>
          <button class="btn btn-warning btn-sm">去结算</button>
        </td>
      </tr>
    </table>
  {{else}}
    <div class="innerbox">购物车没有任何商品，快去<a href="/">逛逛</a>吧～</div>
  {{/if}}
</div>

<script>
  $(function() {

    var $cart = $('#table-cart')

    // 全选框功能
    $('.check-all').click(function() {
      if (this.checked) { // 全选

        var totalItem = $cart.find('.check-one')

        totalItem.prop('checked', true)
        $cart.find('.check-all').prop('checked', true)

        // 总价
        var totalPrice = 0

        for (var i = 0; i < totalItem.length; i++) {
          totalPrice += totalItem[i].getAttribute('data-price') * 1
        }
        $('#totalPrice').html('').html(totalPrice)

      } else {    // 取消全选
        $cart.find('.check-one').prop('checked', false)
        $cart.find('.check-all').prop('checked', false)

        $('#totalPrice').html('').html(0)
      }
    })

    // 选中某个
    $('.check-one').click(function() {

      // 先处理自身的状态
      this.checked ? $(this).prop('checked', true) : $(this).prop('checked', false)

      // 全部的数量
      var totalCount = $cart.find('.check-one').length

      // 选中的项目，用于统计总价
      var checkedItem = $cart.find('.check-one').filter(':checked')
      var checkedCount = checkedItem.length

      console.log(totalCount, checkedCount)

      if (totalCount == checkedCount) {   // 全选中
        $cart.find('.check-all').prop('checked', true)
      } else if (checkedCount > 0) {    // 部分选中
        $cart.find('.check-all').prop('checked', false)
      } else {    // 全没选
        $cart.find('.check-all').prop('checked', false)
      }

      var totalPrice = 0

      for (var i = 0; i < checkedItem.length; i++) {
        totalPrice += checkedItem[i].getAttribute('data-price') * 1
      }
      $('#totalPrice').html('').html(totalPrice)
    })

    // 跳转到购物车
//    $('#tabRadio4').trigger('click')

    // 删除购物车商品
    $('.btn-delete').click(function() {
      var goodsId = this.getAttribute('data-id')
      var $self = $(this)

      ipsAjax('goods', 'deleteFromCart', 'goodsId='+goodsId, function() {

        // 直接操作dom!
        var $parent = $self.parents('tr')

        // 如果删除已选择，就需要重新计算总价
        var isChecked = $parent.find('.check-one')[0].checked

        $parent.remove()    // 移除掉，然后再计算！

        if (isChecked) {
          var checkedItem = $cart.find('.check-one').filter(':checked')

          var totalPrice = 0

          for (var i = 0; i < checkedItem.length; i++) {
            totalPrice += checkedItem[i].getAttribute('data-price') * 1
          }
          $('#totalPrice').html('').html(totalPrice)
        }

        // 查看购物车是否还有商品
        notification.succeed('删除商品成功！')
      })
    })

  })
</script>
