<!-- 我收藏的商品 -->

<div class="panel-body m15">
  {{#if myfavors.length}}
    <ul class="row">
      {{#each myfavors}}
        <li data-id="{{ goods_id }}" class="col col-xs-6 col-sm-4 col-md-3 col-lg-3">
          <div class="innerbox">
            <a href="/goods/detail?id={{goods_id}}">
              <!-- class="img-thumbnail" -->
              <img src="{{ goods_image }}">
            </a>
            <div class="titlediv">
              <span class="title">{{ goods_name }}</span>
              <span class="note">({{ goods_status }})</span>
            </div>
            <div class="subtitle">{{ goods_detail }}</div>
            <div class="subtitle">价格：{{ goods_price }} 元</div>
          </div>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <div class="innerbox">还没有收藏任何商品，快去<a href="/">首页看看</a>有什么喜欢的东西吧～</div>
  {{/if}}
</div>