<!-- 发布新商品 -->

<style>
  .label-select {
    width: 100%;
  }
</style>

<form class="col-sm-12 form-horizontal" id="form-goods" role="form" method="post" enctype='multipart/form-data' onsubmit="return false">
  <fieldset>
    <div class="panel-body m15">
      <div class="form-group">
        <label class="col-sm-4 control-label">商品名称</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" name="goodsname" placeholder="" required>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">商品类别</label>
        <div class="col-sm-3">
          <label class="label-select">
            <select class="form-control" name="goodstype" required>
              <option value=""> ------ </option>
              {{#each classify}}
                {{#equal parentid -1}}
                  <option value="{{id}}"> {{ name }} </option>
                {{/equal}}
              {{/each}}
            </select>
          </label>
        </div>
        <!--<div class="col-sm-3">
          <label class="label-select">
            <select class="form-control" name="goodstype" required>
              <option value=""> ------ </option>
            </select>
          </label>
        </div>-->
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">价格</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" name="price" pattern="^\d+(\.\d+)?$" title="请输入合法的价格" required>
        </div>
        <label class="col-sm-1 control-label"> 元</label>
      </div>
      <!--<div class="form-group">
        <label class="col-sm-4 control-label">数量</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" name="number" pattern="\d{1,4}" title="请输入数字，最多9999" required>
        </div>
      </div>-->
      <div class="form-group">
        <label class="col-sm-4 control-label">内容</label>
        <div class="col-sm-7">
          <textarea class="form-control" name="content" placeholder="" required></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label">商品图片</label>
        <div class="col-sm-7">
          <input type="file" name="image" accept="image/*" required>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary col-sm-offset-3 col-sm-3" id="btn-publish">确定发布</button>
        <button type="reset" class="btn btn-default col-sm-offset-1 col-sm-3" id="btn-reset">重置</button>
      </div>
    </div>
  </fieldset>
</form>

<script type="text/javascript">
  $(function() {
    // 发布商品
    var $formGoods = $('#form-goods')

    $('#btn-publish').click(function() {

      // 验证表单合法性
      if ($formGoods[0].checkValidity()) {
        var formData = new FormData($formGoods[0])
        $.ajax({
          url: '/goods/newPublish',
          type: 'post',
          data: formData,
          contentType: false,
          processData: false,
          datatype : "json",
          async: true,      // 是否异步
          success: function(response, status){
            if (!response.code) {
              notification.succeed('发布商品成功！')
              $formGoods[0].reset();    // 触发reset !

              // 发布管理界面必然得增加！重新请求一次好了！
              setTimeout(function() {
                location.href = '/home'
                // $('#tabRadio2').trigger('click')    // 触发到发布界面
              }, 500)

            } else {
              notification.error('发布商品失败！')
            }
          },
          error: function(response, status){
            notification.error('发布商品失败！')
          }
        });
      }
    })

  })
</script>
