
<div class="classes container">
  <div class="row">

    <div class="col col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <img style="height: auto; max-height: 500px;"
         src="{{ detail.goods_image }}" alt="'{{ detail.goods_name }}'的卖家秀">
    </div>

    <div class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">

      <!-- 发布商品的详情信息 -->
      <div class="titlediv">
        <span class="title">{{ detail.goods_name }}</span>
        <span class="note">({{ detail.status }})</span>
      </div>

      <div class="subtitle">详情：{{ detail.goods_detail }}</div>
      <div class="subtitle">价格：{{ detail.goods_price }} 元</div>
      <div class="subtitle">商品数量：{{ detail.goods_discount }}</div>

      <hr/>

      <div class="titlediv">
        <span class="title">卖家信息</span>
      </div>

      <!-- 发布商品的同学 -->
      <div class="subtitle">卖家ID：{{ detail.user_id }}</div>
      <div class="subtitle">卖家昵称：{{ detail.nickname }}</div>
      <div class="subtitle">卖家性别：{{ detail.gender }}</div>
      <div class="subtitle">手机号码：{{ detail.mobile }}</div>
      <div class="subtitle">电子邮箱：{{ detail.email }}</div>
      <div class="subtitle">交易地点：{{ detail.goods_trade_place }}</div>

      <hr/>

      <!--<button type="button" class="btn btn-warning btn-xs">收藏</button>-->
      <button type="button" class="btn btn-info btn-xs" id="btn-buy" data-id="{{ detail.goods_id }}">加入购物车</button>

    </div>

  </div>

  <div class="placehold"></div>

  <!-- 用户评论区 -->
  <div class="div-comments">
    <h3>商品评价</h3>
    <ul>
      {{#if comments.length}}
        {{#each comments}}
          <li class="row innerbox comment-item">
            <div class="col col-xs-2 col-sm-2 col-md-2 col-lg-2">
              <div class="subtitle">{{ comment_username }}</div>
            </div>
            <div class="col col-xs-9 col-sm-9 col-md-9 col-lg-9">
              <div class="titlediv">
                <span class="title">{{ content }}</span>
              </div>
              <div class="subtitle">评论时间：{{format createtime }}</div>
            </div>
          </li>
        {{/each}}
      {{else}}
        <div class="innerbox">暂时没有任何评论。</div>
      {{/if}}
    </ul>
  </div>

  <div class="placehold"></div>

  <!-- 用户留言区,登录后可以评论 -->
  <div id="div-new-comment">
    <h3>发起评论</h3>
    <div class="panel-body m15">
      <div class="form-group" id="form-comment">
        <label class="col-sm-3 control-label" id="username">{{ currentUser.username }}</label>
        <div class="col-sm-9">
          <textarea class="form-control" name="comment" placeholder="请文明发表评论" required></textarea>
        </div>
        <label style="display: none;">
          <input name="goodsId" value="{{ detail.goods_id }}">
        </label>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-info col-sm-2 col-sm-offset-3" id="btn-comment">评论</button>
      </div>
    </div>
  </div>

</div>

<script>
  $(function() {

    // 点击加入购物车
    $('#btn-buy').click(function(event) {
      var id = this.getAttribute('data-id')

      ipsAjax('goods', 'addToCart', 'goodsId='+id, function (data) {
        notification.succeed('购买成功！')
      }, function(response) {
        notification.info(response.message)
        setTimeout(function() {
          location.href = '/users/signin'
        }, 1500)
      })
    })

    // 发表评论
    $('#btn-comment').click(function() {

      // 用户未登录跳转！
      if (!$('#username').text()) {
        setTimeout(function() {
          location.href = '/users/signin'
        }, 1500)
        notification.info('尚未登录，正跳转到登录界面...')
        return false;
      }

      var $newComment = $('#div-new-comment')

      var $content = $newComment.find('textarea')
      if (!$content.val()) {
        notification.error('评论内容不能为空')
        return false
      }

      var params = {
        content: $content.val(),
        goodsId: $newComment.find('input[name="goodsId"]').val()
      }

      ipsAjax('goods', 'comment', params, function(data) {

        var comment = '<li class="row innerbox comment-item">' +
            '<div class="col col-xs-2 col-sm-2 col-md-2 col-lg-2">' +
               '<div class="subtitle">' + data.comment_username + '</div>' +
            '</div>' +
            '<div class="col col-xs-9 col-sm-9 col-md-9 col-lg-9">' +
              '<div class="titlediv">' +
                '<span class="title">' + data.content + '</span>' +
              '</div>' +
              '<div class="subtitle">评论时间：' + new Date(data.createtime).toLocaleString() + '</div>' +
            '</div></li>'

        var $divComments = $('.div-comments')

        var hadCount = $divComments.find('li').length
        if (hadCount === 0) {
          $divComments.find('.innerbox').remove()
        }
        $divComments.find('ul').append(comment)

        $content.val('')
      })

    })

  })
</script>
