
<style>
  .test_box {
    min-height: 250px;
    margin: 1em auto;
    position: relative;
  }
  .test_tab {
    width: 25%;
    margin-right: -1px;
    border: 1px solid #ccc;
    border-bottom: 0;
    /*float: left;*/
  }
  .test_label {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #eee;
    text-align: center;
  }
  .test_radio,
  .test_tab_content {
    position: absolute;
    left: -999em;
  }
  .test_radio:checked ~ .test_tab_content {
    border: 1px solid #ccc;
    left: 30%;
    right: 0;
  }
  .test_radio:checked ~ .test_label {
    background-color: #fff;
    border-bottom: 1px solid #fff;
    position: relative;
    z-index: 1;
  }

  #tabRadio1 ~.test_tab_content {
    margin-top: -3rem;
  }
  #tabRadio2 ~.test_tab_content {
    margin-top: -6rem;
  }
  #tabRadio3 ~.test_tab_content {
    margin-top: -9rem;
  }
  #tabRadio4 ~.test_tab_content {
    margin-top: -12rem;
  }
</style>

<div class="container">

  <div class="banner">
    <h1>{{ userinfo.username }}, 欢迎回来！</h1>
    <h3><a href="javascript:void(0);" id="signout">退出登录</a></h3>
  </div>

  <div class="placehold"></div>

  <!-- 必须要继承，不然的话，一下子渲染出来太多东西了！ -->
  <div class="test_box">
    <ul>
      <li class="test_tab">
        <input type="radio" id="tabRadio1" class="test_radio" name="tab" checked="checked" />
        <label class="test_label" for="tabRadio1">修改个人信息</label>
        <div class="test_tab_content">
          {{> myinfo}}
        </div>
      </li>
      <li class="test_tab">
        <input type="radio" id="tabRadio2" class="test_radio" name="tab" />
        <label class="test_label" for="tabRadio2">发布商品</label>
        <div class="test_tab_content">
          {{> mypublish }}
        </div>
      </li>
      <li class="test_tab">
        <input type="radio" id="tabRadio3" class="test_radio" name="tab" />
        <label class="test_label" for="tabRadio3">我的商品管理</label>
        <div class="test_tab_content">
          {{> mygoods }}
        </div>
      </li>
      <!--<li class="test_tab">
        <input type="radio" id="tabRadio4" class="test_radio" name="tab" />
        <label class="test_label" for="tabRadio4">我的收藏</label>
        <div class="test_tab_content">
          {{!> myfavor }}
        </div>
      </li>-->
      <li class="test_tab">
        <input type="radio" id="tabRadio4" class="test_radio" name="tab" />
        <label class="test_label" for="tabRadio4">我的购物车</label>
        <div class="test_tab_content">
          {{> mycart }}
        </div>
      </li>
    </ul>
  </div>

</div>

<script type="text/javascript">

  $(function() {
    // 注销登录
    $("#signout").click(function(){
      ipsAjax('users', 'signout', '', function(data) {
        notification.succeed('注销成功，正跳转到首页...')
        setTimeout(function() {
          location.href = '/';
        }, 1000)
      }, function(data) {
        notification.error(data.message)
      })
    });

    // 联动商品类别

  })

</script>
