
<style>
  .div-navitems {
    padding-top: 30px;
  }
  .classify {
    height: 2rem;
  }
  .classify li{
    float: left;
    padding: 0 1rem;
  }
</style>

<div class="container">

  <!-- 商品搜索框 -->
  <div class="form-group" id="form-search">
    <div class="col-offset-2 col-sm-7">
      <input type="text" class="form-control" name="goodsnameLike" placeholder="">
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-primary" id="btn-search">搜索</button>
    </div>
  </div>

  <!-- 分类信息 -->
  <div class="div-navitems">
    <ul class="row classify">
      {{#each classify}}
        {{#equal parentid -1}}
          <li data-id="{{id}}">
            {{name}}
          </li>
        {{else}}
        {{/equal}}
      {{/each}}
    </ul>
  </div>

  <!-- 商品列表，应该是一个局部模版！！ -->
  <div class="classes">
    {{> goods}}
  </div>

</div>

<div class="page">
  <ul>
    {{#each page}}
      <li data-index="{{ index }}"
        {{#if clickable}} class="clickable" {{/if}}
      >{{{ text }}}</li>
    {{/each}}
  </ul>
</div>

<script>
  $(function () {

    // 点击跳转页面
    $('.page').click(function(event) {
      event.stopPropagation();
      var target = event.target
      if ('LI' === target.tagName.toUpperCase()) {
        if (target.hasAttribute('class','clickable')) {
          var index = target.getAttribute('data-index')
          if (location.href.indexOf("?") > -1 && !(location.href.indexOf("pageNo") > -1)) {
            location.href += '&pageNo=' + index
          } else {
            location.href = '?pageNo=' + index
          }
        }
      }
    })

    // 点击进入商品详情
//    $('.classes').click(function(event) {
////      event.stopPropagation();
//      var target = event.target
//      if ('LI' === target.tagName.toUpperCase() || 'IMG' === target.tagName.toUpperCase()) {
//        var id = target.getAttribute('data-id')
//        location.href = '/detail?id=' + id
//      }
//    })

    // 点击搜索
    $('#btn-search').click(function() {
      var $formSearch = $('#form-search')
      var keyword = $formSearch.find('input[name="goodsnameLike"]').val()
      if (keyword) {
        location.href = '?keyword=' + keyword
      } else {
        location.href = location.href.split('?')[0]
      }
    })

    // 分类查找
    $('.classify').click(function(event) {
      event.stopPropagation();
      var target = event.target
      if ('LI' === target.tagName.toUpperCase()) {
        var classifyid = target.getAttribute('data-id')
        if (location.href.indexOf("?") > -1 && !(location.href.indexOf("classifyid") > -1)) {
          location.href += '&classifyid=' + classifyid
        } else {
          location.href = '?classifyid=' + classifyid
        }
      }
    })

  })
</script>