<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/javascripts/SmartNotification.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="/javascripts/common.js"></script>
  </head>
  <body>

  <nav class="navbar navbar-default" role="navigation">
    <!-- 首页 -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/"> 校园二手街</a>
    </div>

    <!-- 分导航 -->
    <div class="collapse navbar-collapse">
      <ul class="nav nav-pills navbar-nav">
        <li class="active">
          <a href="/">
            <span class="glyphicon glyphicon-home"> 首页</span>
          </a>
        </li>
        <!-- <li>
          <a href="/message">
            <span class="glyphicon glyphicon-bell"> 消息</span>
          </a>
        </li> -->
        <li>
          <a href="/home">
            <span class="glyphicon glyphicon-user"> 我的</span>
          </a>
        </li>
        <!--<li>
          <a href="javascript:void(0);">
            <span class="glyphicon glyphicon-search"> search</span>
          </a>
        </li>-->
      </ul>
    </div>
  </nav>

    {{{ body }}}

  <!--<footer>
    CopyRight(c)
  </footer>-->
  </body>
</html>
