<div class="container">
  <form class="col-sm-offset-3 col-sm-6 form-horizontal" id="form-signup" role="form" method="post" onsubmit="return false">
    <fieldset>
      <legend></legend>
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="tc">注册信息</p>
        </div>
        <div class="panel-body m15">

          <div class="form-group">
            <label class="col-sm-4 control-label"><span class="red">* </span>用户名</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" name="username" placeholder="请输入用户名" pattern="\w{4,10}" title="限定为字母数字下划线，长度4-7" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label"><span class="red">* </span>密码</label>
            <div class="col-sm-7">
              <input type="password" class="form-control" name="password" placeholder="请输入密码" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label"><span class="red">* </span>确认密码</label>
            <div class="col-sm-7">
              <input type="password" class="form-control" name="password1" placeholder="请确认密码" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label">性别</label>
            <div class="col-sm-7">
              <label class="radio-inline">
                <input type="radio" name="gender" value="male"> 男
              </label>
              <label class="radio-inline">
                <input type="radio" name="gender" value="female"> 女
              </label>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label">电子邮箱</label>
            <div class="col-sm-7">
              <input type="email" class="form-control" name="email" placeholder="请输入电子邮箱">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label">手机号</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" name="mobile" pattern="1[0-9]{10}" title="请输入合法的手机号码" placeholder="请输入手机号码">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label">QQ</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" name="qq" pattern="[1-9][0-9]{4-10}" title="请输入合法的qq号码" placeholder="请输入qq号码">
            </div>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary col-sm-offset-3 col-sm-3" id="btn-signup">注册</button>
            <button type="reset" class="btn btn-default col-sm-offset-1 col-sm-3" id="btn-reset">重置</button>
          </div>
          <div class="form-group">
            <a class="col-sm-3 col-sm-offset-9" id="btn-signin">前往登录</a>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>

<script type="text/javascript">
  $(function(){

    var $formSignup = $('#form-signup')

    // 跳转到登录
    $("#btn-signin").click(function(){
      location.href = '/users/signin';
    });

    // 点击注册
    $("#btn-signup").click(function(){

      if ($formSignup[0].checkValidity()) {

        var password = $formSignup.find('input[name="password"]').val();
        var password1 = $formSignup.find('input[name="password1"]').val();

        if (password != password1) {
          notification.error('两次密码不一致')
          return false;
        }

        var params = $formSignup.serializeArray();

        ipsAjax('users', 'signup', params, function(data) {
          notification.succeed('注册成功，正跳转到登录界面...')
          setTimeout(function() {
            location.href = '/users/signin';
          }, 1000)
        }, function(data) {
          notification.error(data.message)
        })
      }

    });

    // 重置
    $('#btn-reset').click(function() {
      $formSignup[0].reset();
      return false;
    })

  });
</script>
